<div id="ag-wrapper">
	<div class="ag-title"><%= t("agreement_title") %></div>
	<div class="ag-preamble"><%= t("agreement_preamble") %> </div>

	<% for i in 1..14 %>
	   <div class="ag-clause-title"> <%= t("agreement_clause_title_#{i}") %> </div>
	   <div class="ag-clause"> <%= t("agreement_clause_#{i}") %> </div>
	<% end %>
</div>

<div class="row sns-btn-container">
    <%= link_to image_tag("main/btn_mail.png", size: "80x105"), '#', onclick: "mail_clicked(); return false", class: "mail-btn" %>
    <%= link_to image_tag("main/btn_fb.png", size: "80x105"), '#', onclick: "facebook_clicked(); return false", class: "fb-btn" %>    
</div>