<div class="jumbotron text-center">
  <div class="product-title">  <%= t("b2b_title") %>  </div>
  <div class="product-subtitle"><%= t("b2b_subtitle") %> </div>
  <div class="b2b-banner-wrapper"></div> 
</div>

<!-- Mesh network description -->
<div class="container ">
  <div class="row center-block">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center" style="padding: 0px;">
      <div id="b2b-mesh-img"></div>
		  <div class="b2b-mesh-title"> <%= t("b2b_mesh_title") %></div> 
		  <div class="b2b-mesh-content"> <%= t("b2b_mesh_content") %></div> 

      <%= link_to image_tag("enterprise/btn_request_eng.png", class: "b2b-contact-btn-img"), '#', onclick: "mail_clicked(); return false" %>

      <!-- Demo video button-->
      <%= link_to image_tag("enterprise/btn_demo_eng.png", class: "b2b-demo-btn-img"), "https://www.youtube.com/v/y46y5hWU0I0", class: "fancybox-media iframe b2b-demo-btn" %>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="section-wrapper" style="margin-bottom: 179px;">
    <div class="section-title"> <%= t( "b2b_feature_section_title") %></div>
</div>

<!-- Features -->
<div class="container">
  <div class="row center-block">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
		  <%= image_tag "enterprise/b2b_feature_1.png", id: "b2b-feature-img-1"%> 
		  <div class="feature-title"> <%= t("b2b_feature_one_title") %></div> 
		  <div class="feature-content"> <%= t("b2b_feature_one_content") %></div> 
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row center-block">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
      <%= image_tag "enterprise/b2b_feature_2.png", id: "b2b-feature-img-2"%> 
      <div class="feature-title"> <%= t("b2b_feature_two_title") %></div> 
      <div class="feature-content"> <%= t("b2b_feature_two_content") %></div> 
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row center-block">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">  
      <%= image_tag "enterprise/b2b_feature_3.png", id: "b2b-feature-img-3"%> 
      <div class="feature-title"> <%= t("b2b_feature_three_title") %></div> 
      <div class="feature-content"> <%= t("b2b_feature_three_content") %></div>
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row center-block">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
      <%= image_tag "enterprise/b2b_feature_4.png", id: "b2b-feature-img-4"%> 
      <div class="feature-title"> <%= t("b2b_feature_four_title") %></div> 
      <div class="feature-content"> <%= t("b2b_feature_four_content") %></div> 
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>


<!-- Use cases -->
<div class="section-wrapper">
    <div class="section-title"> <%= t( "b2b_use_section_title") %></div>
</div>
<div class="container">
  <div class="row center-block">
    <div class="col-lg-2">
    </div>

    <!-- Use case 1 --> 
    <div class="col-lg-4 text-center">
  		<%= image_tag "enterprise/b2b_usecase_1.png", class: "b2b-use-img" %> 
  		<div class="b2b-use-content"> <%= t("b2b_use_one") %></div> 
    </div>

    <!-- Use case 2 --> 
    <div class="col-lg-4 text-center">
  		<%= image_tag  "enterprise/b2b_usecase_2.png", class: "b2b-use-img"  %> 
  		<div class="b2b-use-content"> <%= t("b2b_use_two") %></div> 
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row center-block">
    <div class="col-lg-2">
    </div>

    <!-- Use case 3 --> 
    <div class="col-lg-4 text-center">
  		<%= image_tag  "enterprise/b2b_usecase_3.png", class: "b2b-use-img"  %> 
  		<div class="b2b-use-content"> <%= t("b2b_use_three") %></div> 
    </div>

    <!-- Use case 4 --> 
    <div class="col-lg-4 text-center">
  		<%= image_tag  "enterprise/b2b_usecase_4.png", class: "b2b-use-img"  %> 
  		<div class="b2b-use-content"> <%= t("b2b_use_four") %></div> 
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>

<!-- Request info btn -->
<div class="text-center" style="margin-bottom: 100px;">
  <%= link_to image_tag("enterprise/btn_request_eng.png", class: "b2b-contact-btn-img"), '#', onclick: "mail_clicked(); return false" %>
</div>