<!-- Main Banner -->
<div class="jumbotron text-center">
  <div id="banner-title" ><%= t('title') %> </div>
  <p id="banner-subtitle"><%= t("subtitle") %> </p> 
  <%= image_tag "main/main_earth.png", id: "banner-img"%> 
</div>

<div class="container" style="width:100% !important;">
  
  <!-- Mission -->
  <div class="section-wrapper">
    <div class="section-title"> <%= t( "mission_section_title") %></div>
  </div>
  <div class="row center-block" id="mission-wrapper">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6 ">
      <p id="mission-textbox"><%= t( "mission") %> </p>
      
    </div>
    <div class="col-lg-3">
    </div>
  </div>

  <!-- Values -->
  <div class="section-wrapper">
    <div class="section-title"> <%= t( "value_section_title") %></div>
  </div>
  <div id="values-wrapper">
    
    <!-- Value 1 -->
    <div class="row center-block value-item">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2 ">
        <%= image_tag "main/main_pic_1.png", class: "entry-value-img" %> 
      </div>
      <div class="col-lg-6 ">
        <h2 class="entry-value-title"> <%= t( "value_one_title") %></h2>
        <p class="entry-value-content"> <%= t( "value_one_content") %></p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>

    <!-- Value 2 -->
    <div class="row center-block value-item">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2 ">
        <%= image_tag "main/main_pic_2.png", class: "entry-value-img" %> 
      </div>
      <div class="col-lg-6 ">
        <h2 class="entry-value-title"> <%= t( "value_two_title") %></h2>
        <p class="entry-value-content"> <%= t( "value_two_content") %></p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>

    <!-- Value 3 -->
    <div class="row center-block value-item">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2 ">
        <%= image_tag "main/main_pic_3.png", class: "entry-value-img" %> 
      </div>
      <div class="col-lg-6 ">
        <h2 class="entry-value-title"> <%= t( "value_three_title") %></h2>
        <p class="entry-value-content"> <%= t( "value_three_content") %></p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="section-wrapper"> 
    <div class="section-title"> <%= t( "contact_section_title") %></div>
  </div>
  <div class="row center-block" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6 ">
      <div class="sns-btn-container"> 
          <%= link_to image_tag("main/btn_mail.png", size: "97x126"), '#', onclick: "mail_clicked(); return false", class: "mail-btn" %>
          <%= link_to image_tag("main/btn_fb.png", size: "97x126"), '#', onclick: "facebook_clicked(); return false", class: "fb-btn" %>
        </div>  
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>