/////////////////////////////////
/////////////////////////////////        FONTS 
/////////////////////////////////
@font-face {
  font-family: 'RobotoLight';
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf')  format('truetype'), url('Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('Roboto-Bold.woff') format('woff'), url('Roboto-Bold.ttf')  format('truetype'), url('Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoBold";
  src: font-url('NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
  font-family: "NotoLight";
  src: font-url('NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('Roboto-Medium.woff') format('woff'), url('Roboto-Medium.ttf')  format('truetype'), url('Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Black.otf')  format('opentype'),
       url('AvenirLTStd-Black.woff') format('woff'), url('AvenirLTStd-Black.ttf')  format('truetype'), url('AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NanumSquareBold';
  src: url('NanumSquareOTFB00.eot?#iefix') format('embedded-opentype'),  url('NanumSquareOTFB00.otf')  format('opentype'),
       url('NanumSquareOTFB00.woff') format('woff'), url('NanumSquareOTFB00.ttf')  format('truetype'), url('NanumSquareOTFB00.svg#NanumSquareOTFB00') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRegular';
  src: url('NanumSquareOTFR00.eot?#iefix') format('embedded-opentype'),  url('NanumSquareOTFR00.otf')  format('opentype'),
       url('NanumSquareOTFR00.woff') format('woff'), url('NanumSquareOTFR00.ttf')  format('truetype'), url('NanumSquareOTFR00.svg#NanumSquareOTFR00') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'nanum-barun-gothic-bold';
    src: font-url('nanumbarungothicbold.eot');
    src: font-url('nanumbarungothicbold.eot?#iefix') format('embedded-opentype'),
         font-url('nanumbarungothicbold.woff2') format('woff2'),
         font-url('nanumbarungothicbold.woff') format('woff'),
         font-url('nanumbarungothicbold.ttf') format('truetype'),
         font-url('nanumbarungothicbold.svg#nanum-barun-gothic-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nanum-barun-gothic-ultralight';
    src: url('nanumbarungothicultralight.eot');
    src: url('nanumbarungothicultralight.eot?#iefix') format('embedded-opentype'),
         url('nanumbarungothicultralight.woff2') format('woff2'),
         url('nanumbarungothicultralight.woff') format('woff'),
         url('nanumbarungothicultralight.ttf') format('truetype'),
         url('nanumbarungothicultralight.svg#nanum-barun-gothic-ultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nanum-barun-gothic-light';
    src: font-url('nanumbarungothiclight.eot');
    src: font-url('nanumbarungothiclight.eot?#iefix') format('embedded-opentype'),
         font-url('nanumbarungothiclight.woff2') format('woff2'),
         font-url('nanumbarungothiclight.woff') format('woff'),
         font-url('nanumbarungothiclight.ttf') format('truetype'),
         font-url('nanumbarungothiclight.svg#nanum-barun-gothic-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nanum-barun-gothic-regular';
    src: font-url('nanumbarungothicregular.eot');
    src: font-url('nanumbarungothicregular.eot?#iefix') format('embedded-opentype'),
         font-url('nanumbarungothicregular.woff2') format('woff2'),
         font-url('nanumbarungothicregular.woff') format('woff'),
         font-url('nanumbarungothicregular.ttf') format('truetype'),
         font-url('nanumbarungothicregular.svg#nanum-barun-gothic-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/////////////////////////////////
/////////////////////////////////        APPLICATION STYLES 
/////////////////////////////////

div, h1, h2, h3, p, a {
    color: white !important;
}

.m-bg {
  background: url("/assets/main/main_bg.png") no-repeat center top; 
}

.c-bg {
  background: url("/assets/consumer/b2c_bg.jpg") no-repeat center top; 
}

.e-bg {
  background: url("/assets/enterprise/b2b_bg.jpg")no-repeat center top; 
}

#top-logo {
    width: 115px; height: 45px; 
    margin-left : 88px;
}

.navbar {
  margin-top: 19px;
}

#helper-wrapper {
  width: 88px;
  position:fixed;
  top: 33%;
  right:    0;
  z-index: 20;
}

#helper-b2b{
  width: 88px; height: 124px;
}

#helper-b2c, #helper-top {
  width: 88px; height: 100px;
}

#copyright {
  text-align: center; 
  font-family: 'RobotoLight';
  font-size: 16px;
  margin-top:20px;
}

.sns-btn-container {
    bottom: 7%;
    text-align: center;
    align-self: center;
    margin-top: -58px; margin-bottom: 190px; 
    width: 100%;
}

.mail-btn > img:hover, .mail-btn > img:focus {
    content: url("/assets/main/btn_mail_active.png")  
}

.fb-btn {
  margin-left: 30px;
}

.fb-btn > img:hover, .fb-btn> img:focus {
    content: url("/assets/main/btn_fb_active.png")   
}

.section-wrapper {
  //margin-left: 49px; margin-top: 339px; 
  margin: 339px 49px 281px 49px;
  width: 37px; height: 60px; 
  border-top: medium solid #ffffff;
}

.section-title {
  margin-left:40px; margin-top: 30px;
  max-width: 200px !important;
  width: 200px;
}
.section-title:lang(en) {
  font-family: 'AvenirBlack';
  font-size: 35px;
  letter-spacing: 11px;
}
.section-title:lang(ko) {
  font-family: 'nanum-barun-gothic-bold';
  font-size: 26px;
  letter-spacing: 11px;
}

// B2C + B2B Page titles
.product-title { margin-top: 30px; margin-bottom: 30px; }
.product-title:lang(ko) { letter-spacing: 22px; 
            font-size: 42px; 
            font-family:  'nanum-barun-gothic-bold';}
.product-title:lang(en) { letter-spacing: 11px; 
            font-size: 42px; 
            font-family: 'AvenirBlack';}

.product-subtitle {
    margin-bottom: 13px;
}
.product-subtitle:lang(ko) {
  font-family: 'nanum-barun-gothic-bold';
  font-size: 25px; 
}

.product-subtitle:lang(en) {
    font-family: 'AvenirBlack';
    font-size: 26px; 
}
.product-sub-subtitle:lang(ko) {
    font-family: 'nanum-barun-gothic-light';
    font-size: 19px; 
}
.product-sub-subtitle:lang(en) {
    font-family: 'RobotoLight';
    font-size: 19px; 
}


// Features shared by B2C and B2B pages 
.feature-title { margin-bottom: 27px; }
.feature-title:lang(ko) {font-family: 'nanum-barun-gothic-bold'; font-size: 26px;}
.feature-title:lang(en) { font-family: 'AvenirBlack'; font-size: 27px; }

.feature-content { margin-bottom: 51px; }
.feature-content:lang(en) { font-family: 'RobotoLight'; 
        font-size: 20px; line-height: 32px; }
.feature-content:lang(ko) { font-family: 'NotoLight'; 
          font-size: 19px;line-height: 29px; }

// Remove background color for product pages
.jumbotron {
  background:transparent !important;
}

a.dropdown-toggle > ul.dropdown-menu > li > a {
     width: 100%;
     text-align: center;
     padding-left: 50%;
}

img, div, h1 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

center-block {
  float: none;
}

/////////////////////////////////
/////////////////////////////////        AGREEMENTS STYLES 
/////////////////////////////////

#ag-wrapper {
  margin: 250px 300px 0px 202px;
}

.ag-title {
  font-family: 'nanum-barun-gothic-bold';
  font-size: 42px;
  letter-spacing: 11px;
  
  margin-bottom: 45px;
}

.ag-preamble {
  font-family: 'nanum-barun-gothic-regular';
    font-size: 19px;
    line-height: 32px;
    
    margin-bottom: 111px;
}

.ag-clause-title {
  font-family: 'nanum-barun-gothic-bold';
  font-size: 27px;
  letter-spacing: 6px;
  
  margin-top: 70px; margin-bottom: 27px;
}

.ag-clause {
  font-family: 'nanum-barun-gothic-regular';
  font-size: 14px;
  line-height: 27px;
}

/////////////////////////////////
/////////////////////////////////        ENTRY STYLES 
/////////////////////////////////

#banner-title { margin-bottom:12px; }
#banner-title:lang(en) { 
  font-family: "RobotoBold";
    font-size: 40px; 
    letter-spacing: 20px;
}
#banner-title:lang(ko) {
    font-family: "NotoBold";
    font-size: 42px; 
    letter-spacing: 22px;
}

#banner-subtitle { margin-bottom: 60px; }
#banner-subtitle:lang(en) { font-family: 'RobotoLight'; font-size: 20px;} 
#banner-subtitle:lang(ko) { font-family: 'nanum-barun-gothic-light'; font-size: 19px;}

#banner-img {
  height: 50vh;
}

#mission-wrapper {
  margin: 0px 10px 0px 10px;
}

#mission-textbox { text-align:left; border-left: thick solid #ffffff; padding-left: 37px;}
#mission-textbox:lang(ko) {
  font-family: 'nanum-barun-gothic-light';
  font-size:26px;
  line-height: 42px;
}
#mission-textbox:lang(en) {
  font-family: 'RobotoLight';
  font-size:27px;
  line-height: 42px;
}

#values-wrapper {
  margin: 281px 30px 281px 30px;
}

.entry-value-img {
  width: 184px; height: 184px;
  margin-top: 7px;
}

.value-item {
    margin-bottom: 179px;
}

@media only screen and (min-width: 1200px) {
  .entry-value-content, .entry-value-title {
     margin-left:40px;
     text-align:left;
  }
}



.entry-value-title:lang(ko) {
  font-family: 'nanum-barun-gothic-bold';
  font-size: 26px; 
}
.entry-value-title:lang(en) {
  font-family: 'AvenirBlack';
  font-size: 26px;
}

.entry-value-content:lang(ko) {
  font-family: 'NotoLight';
  font-size: 19px; 
  line-height: 32px; 
}
.entry-value-content:lang(en) {
  font-family: 'RobotoLight';
  font-size: 20px;
  line-height: 32px; 
}

/////////////////////////////////
/////////////////////////////////        CONSUMER STYLES 
/////////////////////////////////

.b2c-banner-wrapper {
  border-left: medium solid #ffffff;
  border-right: medium solid #ffffff;
  left: calc((((100% - 640px)/ 2) - 6px)) ;
  top: 210px;
  height:89px;
  width: 640px;
  position: absolute;
}

.b2c-value-img {
  width: 400px;
}

.b2c-value-wrapper {
  margin-left: 20px;
}

.b2c-value-title { margin-top: 40px; margin-bottom: 65px; }
.b2c-value-title:lang(en) { font-family: 'RobotoLight'; font-size: 65px; 
  letter-spacing: 15px; }
.b2c-value-title:lang(ko) { font-family: 'NanumSquareRegular'; 
              font-size: 65px; letter-spacing: 15px; }

.b2c-value-content { margin-top: 40px; margin-bottom: 165px;  }
.b2c-value-content:lang(en) { font-family: 'RobotoLight'; font-size: 20px;
  line-height: 35px; }
.b2c-value-content:lang(ko) { font-family: 'nanum-barun-gothic-light';
                      font-size: 19px; line-height: 35px; }


// Mobile download image localization
.b2c-mobile-cta-img, .b2c-pc-cta-img {
  width: 190px; height: 76px;
  margin: 10px;
}

.b2c-mobile-cta-img:lang(en) {
  content: url("/assets/consumer/btn_mobile_eng.png") 
}
.b2c-mobile-cta-img:lang(ko) {
  content: url("/assets/consumer/btn_mobile.png") 
}
// Mobile download image localization
.b2c-pc-cta-img:lang(en) {
  content: url("/assets/consumer/btn_pc_eng.png") 
}
.b2c-pc-cta-img:lang(ko) {
  content: url("/assets/consumer/btn_pc.png") 
}

.b2c-feature-img {
  height: 377px;
}

.carousel-indicators > li {
    margin: 12px !important;
    background-color: #d3d3d3 !important;
    border: none !important;
    width:17px !important;
    height: 17px !important;
    opacity: 0.5;
}
.carousel-indicators .active {
    opacity: 1;
}

.navbar-header:after {
  clear: none !important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}


/////////////////////////////////
/////////////////////////////////        ENTERPRISE STYLES 
/////////////////////////////////

.b2b-banner-wrapper {
  border-left: medium solid #ffffff;
  border-right: medium solid #ffffff;
  left: calc(((100% - 725px)/ 2) - 6px);
  top: 210px;
  height:89px;
  width: 725px;
  position: absolute;
}

.row {
  text-align :center; 
}

#b2b-mesh-img {
    max-width: 100%;
    width: 914px;
    height: 325px;
    background-image: url("/assets/enterprise/b2b_mesh.png");
    background-position: center;
    background-size: cover;
    padding-left: -15px;
    padding-right: -15px;
}

.b2b-contact-btn-img, .b2b-demo-btn-img {
  width: 190px; height: 76px; margin: 10px;
}
.b2b-contact-btn-img:lang(en) {
  content: url("/assets/enterprise/btn_request_eng.png");
}
.b2b-contact-btn-img:lang(ko) {
  content: url("/assets/enterprise/btn_request.png");
}

.b2b-demo-btn-img:lang(en) {
  content: url("/assets/enterprise/btn_demo_eng.png");
}
.b2b-demo-btn-img:lang(ko) {
  content: url("/assets/enterprise/btn_demo.png");
}

.b2b-mesh-title { margin-top: 22px; }
.b2b-mesh-title:lang(en) { font-family : 'RobotoLight'; font-size: 54px; }
.b2b-mesh-title:lang(ko) { font-family : 'nanum-barun-gothic-light'; 
          font-size: 54px; }

.b2b-mesh-content { margin: 34px 20px 35px 20px; }
.b2b-mesh-content:lang(en) { font-family : 'RobotoLight';
            font-size: 20px; line-height: 32px; }
.b2b-mesh-content:lang(ko) { font-family : 'nanum-barun-gothic-light';
            font-size: 19px; }


.b2b-demo-btn {
  margin-top: 35px;
  margin-bottom: 215px;
}

.b2b-feature-image {
  width: 800px;
  margin-bottom: 62px;  
}

.b2b-use-content { margin-top: 51px; margin-bottom: 200px; }
.b2b-use-content:lang(en) { font-family: 'RobotoMedium'; 
      font-size: 22px; line-height: 32px; }
.b2b-use-content:lang(ko) { font-family: 'nanum-barun-gothic-bold'; 
        font-size: 22px; line-height: 29px; }

.b2b-use-img {
  width: 219px; height: 219px;
}

.enterprise-feature-one {
  max-width: 800px;
  min-width: 300px;
}

#b2b-feature-img-1 {
  max-width: 100%;
  width: 657px; height:184px; 
  margin-top: 110px; margin-bottom: 27px;
}

#b2b-feature-img-2{
  width: 159px; height: 159px;
  margin-top: 240px; margin-bottom: 79px;
}

#b2b-feature-img-3 {
  width: 330px; height: 188px; 
  margin-top: 204px; margin-bottom: 62px
}

#b2b-feature-img-4{
  width: 315px; height: 295px;
  margin-top: 196px; margin-bottom: 52px;
}



/////////////////////////////////
/////////////////////////////////        NAVBAR STYLES 
/////////////////////////////////

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: transparent !important;
}

a, a:hover, a:focus {
  background-color: transparent !important;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.b2b-nav-item:hover {
  color : purple !important;
  border-color: purple !important; 
}

.nav-item:hover {
  color : cyan !important; 
  border-color: cyan !important; 
}

.b2b-nav-item > div, .nav-item > div {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid white;
  float: right; margin-top: 8px; margin-left: 5px;
}

.b2b-nav-item:hover > div  {
   width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid purple;
  float: right; margin-top: 8px; margin-left: 5px;
}

.nav-item:hover > div {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid cyan;
  float: right; margin-top: 8px; margin-left: 5px;
}

.b2b-nav-item >li > a:hover {
  color : purple !important;
}

.nav-item >li > a:hover {
  color : cyan !important;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    width: 200px;
}

.dropdown-menu > li > a, .dropdown-menu {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none !important;
  }

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown-menu  li  a:hover {
    color: cyan;
}

.b2b_menu_item  li  a:hover {
    color: purple !important;
}

.navbar-nav > li {
  margin-top: 15px !important;
  margin-left: 31px;
  margin-right: 31px;

  font-family: 'NanumSquareBold';
  font-size: 14px; 
}

.rounded-btn {
  background-color: transparent;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid white;
  padding: 9px 16px 9px 16px !important;
  margin : 5px;
}


/////////////////////////////////
/////////////////////////////////        MOBILE STYLES 
/////////////////////////////////

@media only screen and (max-width: 1200px) {
  
  /* rules that only apply for canvases narrower than 1200px */
  body {
    text-align: center;
  }

  .navbar-nav > li {
    margin-top: 15px !important;
    margin-left: -1px;
    margin-right: 0px;

    font-family: 'NanumSquareBold';
    font-size: 14px; 
  }

  .navbar-nav > li > a:not(.rounded-btn) {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  #top-logo {
    margin-left: 0px;
  }

  .section-wrapper { 
    margin-left: -14px; 
  }

  .b2c-cta-wrapper {
    margin-bottom: 110px;
  }

  .b2c-value-content {
    margin-bottom: 40px;
  }

  #helper-wrapper {
    width: 44px;
    position:fixed;
    top: 33%;
    right:    0;
    z-index: 20;
  }

  #helper-b2b{
    width: 44px;
    height: 62px;
  }

  #helper-b2c, #helper-top {
    width: 44px;
    height: 50px;
  }

  .section-title {
    font-size: 20px;
    text-align: left;
  }

  .b2c-banner-wrapper, .b2b-banner-wrapper {
    visibility: hidden; 
  }

  .b2c-value-title {
    font-size: 50px !important; 
  }

  .b2c-feature-img {
    height: 277px;
  }

  .entry-value-title {
    margin-top: 40px;
  }

  #banner-title {
    font-size: 35px !important;
    letter-spacing: 16px !important;
  }

  .product-title:lang(ko) { letter-spacing: 13px; 
            font-size: 35px; 
            font-family:  'nanum-barun-gothic-bold';}
}