<!DOCTYPE html>
<html>
  <head>
    <title>Anyfi - <%= t('title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="description" content=<%= t('description') %> />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <!-- Set language for child elements -->
  <body 
  	lang="<%= I18n.locale %>" 	
  	class="
	  <%= if @page_index == 0 then 
	  	'm-bg' elsif @page_index == 1 then 'c-bg' else 'e-bg' end %>" >

  	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <div class="navbar-brand" >
	      	<%= link_to_unless_current image_tag("main/top_logo.png", id:"top-logo"), "entry" %>

	      </div>
	    </div>
	    <ul class="nav navbar-nav pull-right">
				
			<li><%= link_to_unless_current t('intro_tab_title'), url_for("entry"), { :class=> "#{@tab_class}" }  %></li>

			<li><%= link_to_unless_current t('enterprise_page'), url_for("enterprise"), { :class=> "#{@tab_class}" }  %></li>

	      	<li>
	      		<a class="<%= @tab_class %>" href="javascript:void(0)" onclick="mail_clicked();"><%= t("contact_tab_title") %></a>
	      	</li>
	    </ul>

	  </div>
	</nav>

    <%= yield %>

    <p id="copyright">
    	© 2016 All Rights Reserved
    </p>

  </div>
  </body>
</html>
